@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Arial,
  Helvetica,
  sans-serif;
  margin: 0;
  flex-grow: auto;
  height: 100%;
  width: 100%;
  background-color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-wrap: auto;
  flex-direction: column;
  margin: 0;
}

main {
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-style: dashed;
    margin: 0;
    padding: 1%;
    border: 1%;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1%;
  border-style: dashed;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button,
label,
ul {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px white;
  background-color:turquoise;
  color:black;
  font-size: 24px;
  margin: auto;
  padding: 10px;
  border-radius: 1%;
}

img {
  margin-bottom: 25px;
  height:50%;
  width: 50%;
  border-style: dashed;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 3%;
  border: 3;
  margin: 3%;
  margin-bottom: 25px;
   background-color:turquoise;
  width: 100%;
  height: 100%;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1%;
    border: 15%;
    margin: 1%;
    width: 100%;
}

li:not(:last-child) {
  padding: 10px;
  border-bottom: solid 1px;
}

header, footer {
  background-color:turquoise;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1%;
  margin: 0;
  
  font-size: 1.3rem;
  font-weight: 700;
}


.welcome {
  display: flex;
   flex-direction: column;
   align-items: space-evenly;
   height: 100%;
   width: 100%;
   padding: 1%;
   margin: 1%;
   border: 1%;
   font-family: Arial,
   Helvetica,
   sans-serif;
   font-size: 1rem;
    font-weight: 700;
}

.model-ready {
  font-size: 1.5rem;
  font-weight: 700;
   font-family: Arial,
   Helvetica,
   sans-serif;
}
